@font-face {
  font-family: "Sohne-Light";
  src: url("/fonts/TestSöhne-Buch.otf") format("opentype");
}

@font-face {
  font-family: "Sohne-Regular";
  src: url("/fonts/TestSöhne-Kräftig.otf") format("opentype");
}

@font-face {
  font-family: "FoundersGrotesk-Regular";
  src: url("/fonts/TestFoundersGroteskMono-Light.otf") format("opentype");
}

body {
  overflow: hidden;
}

.barText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* width */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid black;
  background: white;
}
